include ../mixins/all

section(data-add-parallax)
  
  //- .img2
  //- .img3
  .img1
    .block-1
      .row
        .col.fix-col1
          article
            .title.fix-title
            .picture
              +img('roller coaster', 'images/upload/img1.jpg')
        .col.fix-col2
          article
            .title.fix-title
              span
                |Nous sommes
              p 
                |Fait main là-bas  
            .picture
              +img('roller coaster', 'images/upload/img2.jpg')  
              .desc     
                  p
                    |Collections are created in limited series with a great respect of traditions.

  .img2
    .block-2
      .row
        .col.fix-col3
          article
            .title.fix-title
              span
                |Nous sommes
              p 
                |Fait main là-bas 
            .picture
                +img('roller coaster', 'images/upload/img3.jpg')
        .col.fix-col4
          article
            .title.fix-title
              span
                |Nous sommes
              p 
                |Fait main là-bas  
            .picture
                +img('roller coaster', 'images/upload/img4.jpg')  
                .desc   
    .block-3
      .row
        .col.fix-col5
          article
            .title.fix-title
              span
                |Notre Univers
              p 
                |LES COULEURS 
            .picture
                +img('roller coaster', 'images/upload/img5.jpg')
                .desc     
                  p
                    |Offers timeless artisanal creations unique in their texture and 16 exclusive colors.
        .col.fix-col6
          article
            .title.fix-title   
            .picture
                +img('roller coaster', 'images/upload/img6.jpg')  
                .desc
    .block-4
      .row
        .col.fix-col7
          article
            .title.fix-title
            .picture
              +img('roller coaster', 'images/upload/img7.jpg')
        .col.fix-col8
          article
            .title.fix-title
              span
                |Notre Univers
              p 
                |LES COULEURS    
              p.test
                |Collections are created in limited series with a great respect of traditions.  
            .picture         
  .img3
    .block-5
      .row
        .col.fix-col9
          article
            .title.fix-title
            .picture
               +img('roller coaster', 'images/upload/banner_middle.jpg')  
        .col.fix-col10 
    .block-6
      .row   
        .col.fix-col11  
          article 
            .title.fix-title
              span
                |La gazette
              p 
                |UN ARTICLE  
            .picture 
              +img('roller coaster', 'images/upload/img8.jpg') 
        .col.fix-col12
          article1       
            .title.fix-title
              span
                |Allez bouge toi
              p 
                |NOTRE ACTION 
            .picture 
              +img('roller coaster', 'images/upload/img9.jpg')  
              .desc     
                  p
                    |Give me your hand and i'll hold it birdy.
          .clear          
          article2      
            .title.fix-title
              span
                |Le big Bazar
              p 
                |LINGE DE MAISON 
            .picture 
              +img('roller coaster', 'images/upload/img10.jpg')  
              .desc     
  .img4
    .block-7
      .row   
        .col.fix-col13 
          article1       
            .title.fix-title
              span
                |La gazette
              p 
                |UN ARTICLE
            .picture 
              +img('roller coaster', 'images/upload/img11.jpg')  
              .desc       
          article2      
            .title.fix-title
            .picture 
              +img('roller coaster', 'images/upload/img12.jpg')  
              .desc     
        .col.fix-col14
          article      
            .title.fix-title
              span
                |Nous sommes
              p 
                |LES GENS DE N°74
            .picture 
              +img('roller coaster', 'images/upload/img13.jpg')  
              .desc  
                p
                  |Collections are created in limited series with a great respect of traditions.
          


//-  p In this example we have turned off parallax scrolling for mobile devices. It works as expected on all desktop screens sizes.
