// build:js js/script.js
script(defer, src="js/l10n.js")
script(defer, src="js/libs.js")
//- script(defer, src="js/plugins/jquery.localscroll-1.2.7-min.js")
//- script(defer, src="js/plugins/jquery.parallax-1.1.3.js")
//- script(defer, src="js/plugins/content.js")
script(defer, src="js/script.js")
// endbuild
// build:development-only
script(src="//localhost:35729/livereload.js")
// endbuild
